/.idea
target
*.class
*.jar
*.ipr
*.iml
*.iws
*.log
/Database/src/main/resources/liquibase/mysql/liquibase-mysql.properties
/Webservice/src/main/resources/application.properties
/Database/src/test/resources/application.properties
/Webservice/src/main/resources/application.properties
